


/*               Formatação de Div's                            */

.cervejas{
    height:auto;
    border: 2px solid #000000;
    background-color: #2c2c2c;
    border-radius: 10px;
    color:#d1b40d ;
    height: 400px;
    width: 250px;
    margin-top: 10px;
   
}
.whiskys{
    height:auto;
    border: 2px solid #0D0D0D;
    background-color: #2c2c2c;
    border-radius: 10px;
    height: 400px;
    width: 250px;
    color:#d1b40d ;
    margin-top: 10px;
}
.sucos{
    height:auto;
    border: 2px solid #0D0D0D;
    background-color: #2c2c2c;
    border-radius: 10px;
    height: 400px;
    width: 250px;
    color:#d1b40d ;
    margin-top: 10px;
}
.tabacaria{
    height:auto;
    border: 2px solid #0D0D0D;
    background-color: #2c2c2c;
    border-radius: 10px;
    height: 400px;
    width: 250px;
    color:#d1b40d ;
    margin-top: 10px;
}
.topo{
    height:auto;
    text-align: center;
    background-color: #d1b40d;
    border-radius: 80px;
    border-style: dotted;
    
    
}
.apresentacao{
    height:auto;
    font-family:fantasy ;
    font-size: 60px;
    text-align:center ;
    color:#d1b40d ;
    background-color: #0D0D0D;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10px;
    font-family:fantasy ;
    padding-top: 10px;
    text-align:center ;
    background-color: #A6653F ;
    
}  
.foot{
    height:70px;
    background-color: darkgoldenrod ;
}

/*               Formatação de fotos e textos                  */
.img-madruga{
    padding-top: 10px;
    position: relative;
  
    
        
}
.txt-apresentacao{
    padding-top: 20px;
    height:auto;
    font-family:fantasy ;
    font-size: 30px;
    text-align:center ;
    color:#0D0D0D;
    background-color: #A6653F
}
